
// _header.scss

.animation-logo{
    animation-name: logo-animation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes logo-animation{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}