// _fonts.scss
@font-face {
    font-family: DancingScript;
    src: url(../assest/font/Lobster-Regular.ttf);
}

@font-face {
    font-family: Lobster;
    src: url(../assest/font/Lobster-Regular.ttf);
}